<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>

    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <header>
        <div class="h1"><h1>MadelineCCStahl Resume</h1></div>
        
        <div class="headerBackground">
            <img src="./assets/texture.png" alt="TextureHeading" height="150" class="transparent-texture">
        </div>
    </header>

    <div class="sidebar">
        <ul>
            <li><a href="#aboutme">About Me</a></li>
            <li><a href="#work">Work</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>
    </div>
        <div class="aboutme">
            <section id="aboutme">
            <p>I graduated in 2019 from KU as a lab technician. I've worked in hospitals since graduation as a generalist. I have worked in every department seen in a hospital laboratory. My favorite station is blood bank, my favorite task being antibody ID workups.</p>
        </section>
        </div>
        
        <div class="work">
            <section id="work">
            <div class="departments">
                <div class="chemistry">
                <img src="./assets/chemistry.jpeg" alt="Chemistry" class="deparmentimage">
                <div class="text-overlay">Chemistry</div>
                </div>
    
                <div class="hematology">
                <img src="./assets/heme.jpeg" alt="Hematology" class="departmentimage">
                <div class="text-overlay">Hematoloy</div>
                </div>
    
                <img src="./assets/micro.jpeg" alt="Micro" class="deparmentimage">
                <div class="text-overlay">Micro</div>
    
                <img src="./assets/bbank.jpeg" alt="Blood Bank" width="200" class="deparmentimage">
                <div class="text-overlay">Blood Bank</div>
    
                <img src="./assets/uaxtals.jpeg" alt="Urinalysis" class="deparmentimage">
                <div class="text-overlay">Urinalysis</div>
            </div>
            </section>

            <div class="contactme">
                <section id="contact">
                <nav>
                    <ul>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </nav>
                </section>
            </div>
    </div>
</body>

</html>